:root {
    --light-gray: #f4f4f4;
    --normal-gray: #eee;
    --dark-gray: #ccc;
}

a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, canvas, caption, center, cite, 
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, 
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, 
nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, 
strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, 
time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
}

.mp-alert {
    /* padding: 15px; */
    padding-bottom: 0;
}

.box .box-body.with-border {
    border-top: 1px solid #f4f4f4;
}

input[type=file] {
    display: none;
}

.category-container .child {
    padding-left: 1.5rem;
}

.btn-icon {
    width: 40px;
    height: 36px;
}

.box-header {
    padding: 10px 20px;
}
.box-body {
    padding: 10px 20px;
}
.box-footer {
    padding: 10px 20px;
}

.table-header label {
    font-weight: normal;
}
.table-header label select {
    display: inline-block;
    width: 60px;
}

.filter {
    text-align: left;
}
.filter label input {
    width: auto;
    display: inline-block;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.field-group {
    padding-top: 10px;
    padding-bottom: 10px;
}
.field-group:first-child {
    padding-top: 0;
}
.field-group:not(:first-child) {
    border-top: 1px solid var(--normal-gray);
}

.list-child {
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
}


/* Widget styles */
.box-category .box-body .box-content {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid #f4f4f4; */
    /* padding: 0 10px; */
}

.box-category .box-body .box-content::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.box-category .box-body .box-content::-webkit-scrollbar-thumb {
    /* width: 10px; */
    background-color: var(--dark-gray);
}

table.table-fix tr td{
    height: 53.2px;
}

.full-width {
    width: 100%;
}

.w75 {
    width: 75px !important;
}

.w85 {
    width: 85px !important;
}

.w100 {
    width: 100px !important;
}

.w108 {
    width: 108px !important;
}

.modal-add-order .modal-content .modal-body .input-group {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f4f4f4;
}

.modal-add-order .modal-content .modal-body .input-group .input-group-btn button {
    border: none;
    background-color: unset;
}

.modal-add-order .modal-content .modal-body .input-group .input-group-btn button:focus-visible,
.modal-add-order .modal-content .modal-body .input-group .input-group-btn button:focus {
    outline: 0;
}

.modal-add-order .modal-content .modal-body .input-group .input-group-btn button:active {
    box-shadow: none;
}

.modal-add-order .modal-content .modal-body .input-group input {
    border: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0;
}

.modal-add-order .modal-content .modal-body .input-group .input-group-btn.group-product button {
    width: 450px;
    text-align: left;
}

.modal-add-order .modal-content .modal-body .products.products-add .input-group .input-group-btn button i.fa.fa-plus{
    display: none;
}

.modal-add-order .modal-content .modal-body .products.products-minus .input-group .input-group-btn button i.fa.fa-minus{
    display: none;
}

.order-invoice .box .order-invoice-footer table tr.with-border-top{
    border-top: 1px solid #ddd;
}