.mp-alert {
    /* padding: 15px; */
    padding-bottom: 0;
}

.box .box-body.with-border {
    border-top: 1px solid #f4f4f4;
}

input[type=file] {
    display: none;
}

.category-container .child {
    padding-left: 1.5rem;
}

.btn-icon {
    width: 40px;
    height: 36px;
}

.box-header {
    padding: 10px 20px;
}
.box-body {
    padding: 10px 20px;
}
.box-footer {
    padding: 10px 20px;
}

.table-header label {
    font-weight: normal;
}
.table-header label select {
    display: inline-block;
    width: 60px;
}

.filter {
    text-align: right;
}
.filter label input {
    width: auto;
    display: inline-block;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

.field-group {
    padding-top: 10px;
    padding-bottom: 10px;
}
.field-group:first-child {
    padding-top: 0;
}
.field-group:not(:first-child) {
    border-top: 1px solid #eee;
}

.list-child {
    margin-left: 20px;
}


/* Widget styles */
.box-category .box-body .box-content {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #f4f4f4;
    padding: 0 10px;
}