.modal-dialog {
    max-width: unset !important;
}

.modal-theme-info .flex {
    height: 325px;
}
.modal-theme-info .flex img {
    width: 185px;
}
.modal-theme-info-image .flex img {
    width: 100%;
}
.modal-theme-info-image .modal-footer .btn {
    margin: 0;
}

body.kaiadmin .modal-theme-info-image .modal-footer .btn {
    width: 100px !important;
}